/* Blog page & subpages */

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .blogintro {
        padding: 3rem 0 3rem 3rem;
    }
    .blogtitle {
        padding: 0 10rem 0rem 10rem;
    }
    .blogbody {
        margin: 0 10rem 0 10rem;
    }
}


